.about-me-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me-heading{
    font-size: calc(4.8rem / var(--size-divisor));
}

.card-about-me{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    flex-shrink: 1;
    width: calc(76.8rem / var(--size-divisor));
    height: calc(51.2rem / var(--size-divisor));
}

.about-me-paragraph{
    font-size: calc(3rem / var(--size-divisor));
    font-weight: 300;
    margin-left: calc(2rem / var(--size-divisor));
}

.about-me-button-holder{
    display: flex;
    align-items: space-evenly;
}

.about-me-button{
    width: calc(25.6rem / var(--size-divisor));
    height: calc(8rem / var(--size-divisor));
    margin-bottom: calc(5rem / var(--size-divisor));
    margin:  0 calc(2rem / var(--size-divisor));
    border-radius: 5rem;
    border: 0;
    background: #1B1B1E;
    font-size: calc(2.8rem / var(--size-divisor));
    color: #D8DBE2;
}

.about-me-button:hover{
    background: black;
    color: #F3F4F6;
    cursor: pointer;
}