.project{
    background: #F3F4F6;
    border: solid #1B1B1E .2rem;
    border-radius: 3rem;
    box-shadow: 0 .1rem .4rem 0 #1B1B1E;
    width: 25.6rem;
    height: 25.6rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.project-holder{
    margin: 1.6rem 1.6rem;
    text-decoration: none;
    color: #1B1B1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    width: 25.6rem;
    overflow: break-word;
    word-break: break-all;
    text-align: center;
}

.project-name{
    margin-top: 1rem
}

.project-description{
    font-size: 2.6rem;
    font-weight: 200
}