.content{
    display: flex;
    flex-direction: column;
}
.menu{
    display: flex;
    flex-direction: row;
}
.menu-holder{
    flex: 1 0;
    margin-left: 10rem;
    width: 100px;
    height: 100vh;
    background: #A9BCD0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name{
    font-size: 6.4rem;
    color: #1B1B1E;
}

.name-section{
    display: flex;
    flex-direction: column;
}

.socials-logo{
    margin: .1rem 1.8rem;
    width: 4.9rem;
    height: 4.9rem;
    fill: #1B1B1E;
}

.icon-holder{
    display: flex;
    justify-content: center;
}

.watermark {
    position: fixed;
    bottom: .5rem;
    right: .5rem;
    color: #1B1B1E;
    font-weight: 400;
    font-size: 1.7rem
}

.scroll-down{
    position: absolute;
    bottom: 1rem;
}

.arrow-down-icon{
    fill:  #1B1B1E;
    width: 2.4rem;
}
 
.section-content{
    height: 100vh;
    margin-left: 10rem;
    background: #D8DBE2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me-text{
    font-size: 3rem;
    font-weight: 300;
    margin-left: 2rem;
}

.about-me-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me-heading{
    font-size: 4.8rem;
}

.about-me-button{
    width: 25.6rem;
    height: 8rem;
    margin-bottom: 5rem;
}

.card-about-me{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.about-me-button-holder{
    display: flex;
    align-items: space-evenly;
}

.about-me-button{
    margin:  0 2rem;
    border-radius: 5rem;
    border: 0;
    background: #1B1B1E;
    font-size: 2.8rem;
    color: #D8DBE2;
}

.service-card-holder{
    display: flex;
    flex-wrap: wrap;
}

.card-service{
    margin: 0 2rem; 
}

.services{
    align-items: center;
    justify-content: space-evenly;
}

.service-text{
    margin: 1.5rem;
    font-size: 2.7rem;
    text-align: center;
    font-weight: 300;
}

.services-heading{
    font-size: 4.8rem;
}

.contact-me-heading{
    font-size: 2.4rem;
    font-weight: 300;
}

.contact-me-heading a {
    text-decoration: none;
    color: #FF003D;
    
}

.service-text b{
    font-weight: 400;
}

.projects-heading{
    font-size: 4.8rem;
}

.projects-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-ul{
    list-style: none;
    display: flex;
    font-size: 1.8rem;
    margin-bottom: 4rem;
    margin-top: 8rem;
}

.projects-li{
    margin: 0 .5rem;
}

.projects-card-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 108.8rem
}

.project{
    margin: .8rem;
}

.contact-heading{
    font-size: 4.8rem;
}

.contact-holder{
    display: flex;
    flex-direction: column;
    align-items: center
}

.form-input{
    width: 66.2rem;
    height: 7.6rem;
    font-size: 2.4rem;
    border: solid #1B1B1E .2rem;
    border-radius: 3rem;
    margin: 2.1rem 1rem;
    padding: 2rem
}

.fsubject{
    width: 134.4rem
}

.fmessage{
    width: 134.4rem;
    height: 36.6rem;
    font-size: 2.4rem;
    font-family: roboto; 
    resize: vertical;
}

.form-contact{
    margin: 3rem 0;
}

.submit-button{
    width: 25.6rem;
    height: 8rem;
    border-radius: 5rem;
    border: 0;
    background: #1B1B1E;
    font-size: 2.8rem;
    color: #D8DBE2;
}

