.content{
    display: flex;
    flex-direction: column;
}

.section-content{
    height: fit-content;
    min-height: 100vh;
    margin-left: 10rem;
    background: #D8DBE2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0;
}

.watermark {
    position: fixed;
    bottom: .5rem;
    right: .5rem;
    color: #1B1B1E;
    font-weight: 400;
    font-size: 1.7rem
}